[MESSAGES CONTROL]

disable=
    bad-continuation,
    c-extension-no-member,
    duplicate-code,
    fixme,
    invalid-name,
    missing-docstring,
    no-member,
    too-few-public-methods,
    too-many-branches,
    too-many-function-args,
    too-many-lines,
    too-many-statements
